{
    "servicePort": 1972,
    "authTokens": null,
    "readOnly": false,
    "root": "~/public",
    "thumb": {
        "size": 300,
        "quality": 75
    },
    "ssl" : {
        "enabled" : false,
        "keyFile" : "./server.key",
        "certFile" : "./server.cert"
    }
}
